* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}
body{
    background: url("https://picsum.photos/1600?random=2");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 420px;
    background: transparent;
    border: 2px solid #515151;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 30px 40px;
}
h1{
    font-size: 36px;
    text-align: center;
    color: #fff;
}
.input-container-email {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px;

}
.input-container input{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border: 1px solid;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    padding: 20px 45px 20px 20px;
    }
.input-container input::placeholder {
    color: #fff;

    }
.submit-button{
    width: 100%;
    height: 50px;
    background-color: #5100b5;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    margin-top: 17px;
    cursor: pointer;
    outline: none;
    font-size: 16px;

}
.submit-button:hover{
    background-color: #590ab8;
}

.register-link p{
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}
.register-link{
    text-align: center;
    margin: 20px;
}
.register-link a {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    
}

.register-link p a:hover{
    text-decoration: underline;
   
}
